@import "tailwindcss";

html, body {
  font-family: 'Roboto', Arial, sans-serif;
}

#root {
  width: 100%;
  max-width: 400px;
  min-height: 100vh;
  margin: 0px auto;
  background-color: #F4F6F8;
  flex-grow: 1
}
